.main {
    width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
    font-family: SimSun;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.main .content {
    width: 100%;
    min-height: 700px;
    padding: 0 25px;
    border: 1px solid #61bde4;
    -moz-border-radius: 10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.main .content .content-title {
    height: 40px;
    line-height: 36px;
    margin-top: 5px;
    padding: 12px 0;
    font-size: 14px;
}
.main .content .content-title p{
    font-size: 16px;
}
.main .content .content-title span {
    margin-left: 10px;
}
.main .content .content-detail h2 {
    width: 100%;
    height: 120px;
    line-height: 60px;
    padding: 0 30px;
    font-size: 28px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    box-sizing: border-box;
}
.main .content .content-detail time {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.main .content .content-detail hr {
    width: 100%;
    height: 2px;
    margin: 20px auto;
    background-color: #ccc;
}
.main .content .content-detail > p {
    line-height: 200%;
    padding: 10px 0;
    text-indent: 2em;
    font-size: 16px;
    text-align: justify;
}
.main .content .content-detail > p > a[download] {
    color: #ba2636;
    text-decoration: underline;
}
.main .content .content-detail > p > em {
    font-family: KaiTi;
    font-style: normal;
    font-size: 18px
}
.main .content .content-detail > figure.person {
    float: left;
    width: 249px;
    height: 307px;
}
.main .content .content-detail .info {
    float: right;
    width: 670px;
    font-size: 18px;
    line-height: 1.5em;
}
.content-detail .info article {
    text-indent: 2em;
}
.content-detail .info strong {
    font-size: 25px;
}
.main .content .content-detail > figure img {
    display: block;
    max-width: 550px;
    height: auto;
    margin: 0 auto;
}
.content-detail form {
    padding: 10px;
    background-color: #e3e5e4;
    border-radius: 5px;
}
.content-detail form input[type=text] {
    width: 600px;
    height: 28px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 5px;
}
.content-detail form button {
    width: 76px;
    height: 32px;
    border: none;
    background: url("../images/hudongpingtai/qiyexuqiu/search-btn.png");
    vertical-align: top;
    cursor: pointer;
}
.content-detail > ul {
    height: 961px;
    margin: 20px 0;
    font-size: 15px;
    border-top: 1px solid #666;
    overflow: hidden;
}
.content-detail > ul li {
    line-height: 1.5em;
    margin: 10px 0;
}
.main .content .content-source p {
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-align: right;
}
.content-detail .pagination {
    margin: 10px 0;
    text-align: center;
}
.content-detail .pagination ul {
    max-width: 952px;
    display: inline-block;
    font-size: 15px;
    overflow: hidden;

}
.content-detail .pagination li {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 2px;
    border: 1px solid #ccc;
}
.content-detail .pagination li:hover {
    background-color: #2d87d0;
}
.content-detail .pagination li:hover a {
    color: #fff;
    text-decoration: none;
}
.content-detail .pagination li a {
    display: block;
}
.content-detail .pagination li:first-child,
.content-detail .pagination li:last-child
{
    width: 50px;
}
