/*主体main*/
.main {
    width: 1024px;
    margin: 0 auto;
    font-family: simSun;
    background-color: #fff;
}
.ad-banner {
    width: 100%;
    height: 70px;
    margin: 8px 0;
}
.ad-banner img {
    width: 100%;
    height: 100%;
}
.top-news {
    width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid #61bde4;
}
.top-news .top-news-title {
    width: 100%;
    height: 46px;
    background: url("../images/index/title-bg.png") no-repeat center;
    background-size: cover;
}
.top-news .top-news-title span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 20px;
    color: #fff;
}
.top-news h2 {
    width: 100%;
    padding: 10px 24px;
    font-size: 38px;
}
.top-news h2 a {
    display: block;
    color: #0074BC;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.top-news .top-news-more {
    text-align: right;
    padding: 8px 10px;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

.top-news .top-news-list ul  {
    width: 470px;
    height: 131px;
    padding: 0 10px;
    overflow: hidden;
}
.top-news .top-news-list ul li {
    height: 30px;
    width: 470px;
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-news .top-news-list ul li i{
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    margin-top: -4px;
    background-color: #009DE0;
    vertical-align: middle;
}
.pic-news {
    width: 1000px;
    height: 360px;
    margin: 0 auto;
    margin-top: 15px;
    color: #0074BC;
    border: 1px solid #61bde4;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.pic-news .pic-news-title {
    width: 100%;
    height: 46px;
    background: url("../images/index/title-bg.png");
}
.pic-news .pic-news-title span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 20px;
    color: #fff;
}
.pic-news .pic-news-title i,
.kexiedongtai .shikexie-title i,
.jicengkecie .jicengkecie-title i,
.hudongpingtai .hudongpingtai-title i,
.kepuyuandi .kepuyuandi-title i {
    display: inline-block;
    font-style: normal;
    float: right;
    width: 36px;
    height: 46px;
    line-height: 46px;
    margin-right: 30px;
    vertical-align: middle;

}

.pic-news .pic-news-left {
    width: 307px;
    height: 226px;
    margin: 20px 10px;
}
.pic-news .pic-news-left img {
    display: block;
    width: 100%;
    height: 100%;
}
.pic-news .pic-news-left figcaption {
    height: 55px;
    width: 300px;
    margin: 0 auto;
    line-height: 55px;
}

.pic-news .pic-news-right {
    width: 650px;
    height: 264px;
    margin-top: 20px;
    overflow: hidden;
}
.pic-news .pic-news-right figure {
    float: left;
    margin-right: 36px;
}
.pic-news .pic-news-right img {
    display: block;
    width: 126px;
    height: 97px;
}
.pic-news .pic-news-right figcaption {
    height: 35px;
    line-height: 35px;
    width: 120px;
}
.kexiedongtai {
    height: 620px;
    margin-top: 20px;
    padding: 0 12px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.kexiedongtai > div:nth-child(1) {
    width: 620px;
}
.kexiedongtai .shikexie,
.kexiedongtai .jicengkecie
{
    width: 715px;
    height: 300px;
    border: 1px solid #61bde4;
}
.kexiedongtai .shikexie .shikexie-title,
.kexiedongtai .jicengkecie .jicengkecie-title,
.hudongpingtai .hudongpingtai-title,
.kepuyuandi .kepuyuandi-title,
.youqinglianjie .youqinglianjie-title
{
    width: 100%;
    height: 46px;
    background: url("../images/index/title-bg.png") no-repeat;
    background-size: cover;
}
.kexiedongtai .shikexie .shikexie-title span,
.kexiedongtai .jicengkecie .jicengkecie-title span,
.hudongpingtai .hudongpingtai-title span,
.kepuyuandi .kepuyuandi-title span,
.youqinglianjie .youqinglianjie-title span
{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 36px;
    margin-top: 20px;
    color: #fff;
}
.kexiedongtai .shikexie ul,
.kexiedongtai .jicengkecie ul {
    width: 48%;
    height: 253px;
    padding: 14px 10px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.kexiedongtai .shikexie ul li,
.kexiedongtai .jicengkecie ul li{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px dashed #61bde4;
}
.kexiedongtai .shikexie ul li i,
.kexiedongtai .jicengkecie ul li i,
.kexiedongtai .advice > div ul li i{
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 10px;
    margin-top: -4px;
    background-color: #009DE0;
    vertical-align: middle;
}
.kexiedongtai .advice {
    width: 264px;
}
.kexiedongtai .advice form {
    font-size: 0;

}
.kexiedongtai .advice input[type=text] {
    width: 205px;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    font-size: 14px;
    border: 2px solid #61bde4;
}
.kexiedongtai .advice input[type=button] {
    width: 45px;
    height: 44px;
    border: 2px solid #61bde4;
    border-left: 0;
    vertical-align: top;
    background: url("../images/index/serch.png");
    background-position: -2px -2px;

}
.kexiedongtai .advice input[type=button]:hover {
    background-position-x: -47px;
}
.kexiedongtai .advice > div {
    height: 554px;
    margin-top: 20px;
    border: 1px solid #BEBEBE;
    overflow: hidden;
}
.kexiedongtai .advice .advice-title {
    height: 35px;
    line-height: 35px;
    padding-right: 10px;
    text-align: right;
    background: url("../images/index/advice-title.png") no-repeat center;
    background-size: cover;
}
.kexiedongtai .advice .advice-title span a {
    color: #d73a3a;

}
.kexiedongtai .advice > div ul {
    padding: 10px 0;

}
.kexiedongtai .advice > div ul li{
    height: 64px;
    line-height: 32px;
    margin-top: 10px;
    padding: 0 7px;
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.kexiedongtai .advice > div ul li i {
    background-color: #c94a37;
}
.main .chuangxinqudong {
    margin-top: 20px;
    padding: 0 12px;
}
.main .chuangxinqudong figure:last-child {
    margin-top: 10px;
}
.all-kexie {
    width: 262px;
    float: right;
}
.all-kexie .all-kexie-title {
    height: 19px;
    background: url("../images/index/qjkx.png") no-repeat center;
    background-size: cover;
}
.all-kexie ul.blue-bg {
    margin-top: 20px;
    background-color: #c0e3f5;
}
.all-kexie ul.yellow-bg {
    margin-top: 14px;
    background-color: #ffe4d2;
}
.all-kexie li {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-size: 16px;
}
.all-kexie li i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 10px;
    margin-top: -4px;
    background-color: #C94A37;
    vertical-align: middle;
}
.all-kexie ul.yellow-bg li {
    height: 47px;
    line-height: 47px;
}
.hudongpingtai {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #61bde4;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.hudongpingtai .hudongpingtai-title span,
.youqinglianjie .youqinglianjie-title span
{
    margin-left: 50px;

}
.hudongpingtai .hudongpingtai-list {
    margin-top: 15px;
    padding: 0 16px;
}
.hudongpingtai .hudongpingtai-list ul li {
    margin-bottom: 15px;
}

.kepuyuandi {
    width: 1000px;
    height: 360px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #61bde4;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.kepuyuandi .kepuyuandi-title ul {
    margin-right: 30px;
}
.kepuyuandi .kepuyuandi-title ul li {
    float: left;
    width: 55px;
    line-height: 46px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;

}
.kepuyuandi .kepuyuandi-title ul li.select {
    height: 34px;
    line-height: 34px;
    margin-top: 8px;
    color: #fff;
    font-size: 18px;
    border: 2px solid #61bde4;
    border-bottom-color: #fff;
    -moz-border-radius: 10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#content > div {
    display: none;
}
#content > div.select {
    display: block;
}
#content .content-left {
    position: relative;
    float: left;
    margin: 20px 10px;
}
#content .content-left img {
    display: block;
    width: 307px;
    height: 226px;
}
#content .content-left span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    left: 50%;
    top:50%;
    margin-left: -25px;
    margin-top: -50px;
    z-index: 10;
    background: url("../images/kepuyuandi/video/list/play.png");
}
#content .content-left figcaption {
    height: 55px;
    width: 300px;
    margin: 0 auto;
    line-height: 55px;
}
#content .content-right {
    float: right;
    width: 650px;
    height: 264px;
    margin-top: 20px;
    overflow: hidden;
}
#content .content-right figure {
    position: relative;
    float: left;
    margin-right: 36px;
}
#content .content-right .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -40px;
}#content .content-right .content-btn img {
     display: block;
     width: 50px;
     height: 50px;
 }
#content .content-right > figure > a > img {
    display: block;
    width: 126px;
    height: 97px;
}
#content .content-right span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    left: 50%;
    top:50%;
    margin-left: -25px;
    margin-top: -40px;
    z-index: 10;
    background: url("../images/kepuyuandi/video/list/play.png") no-repeat center;
    background-size: cover;
}
#content .content-right figure figcaption
{
    height: 35px;
    line-height: 35px;
    width: 120px;
}
.youqinglianjie {
    width: 1000px;
    margin: 20px auto;
    margin-bottom: 10px;
    border: 1px solid #61bde4;
    -moz-box-sizing:border-box;
    box-sizing: border-box;

}
.youqinglianjie .youqinglianjie-list {
    padding: 10px 10px;
}
.youqinglianjie .youqinglianjie-list select {
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-left: 20px;
    padding: 4px 0;
    font-size: 14px;
}
.youqinglianjie .youqinglianjie-list select:first-child {
    margin: 0;
}




