.main {
    width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
    font-family: SimSun;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.main .kinds {
    float: left;
    width: 266px;
    border: 1px solid #61bde4;
    -moz-border-radius: 10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.main .kinds .kinds-title {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: url("../images/public/kinds-title.png");
}
.main .kinds ul {
    padding: 0 20px 10px 20px;

}
.main .kinds ul li {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #b0c7d7;
}
.main .content {
    float: right;
    width: 725px;
    border: 1px solid #61bde4;
    box-sizing: border-box;
    -moz-border-radius: 10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.main .content .content-title {
    height: 40px;
    line-height: 36px;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 14px;

}
.main .content .content-title p{
    font-size: 16px;
}
.main .content .content-title span {
    margin-left: 10px;
}

/*文章标题列表样式*/
.main .content ul:nth-child(2) {
    height: 720px;
    padding: 10px 0;
    overflow: hidden;
}
.main .content ul:nth-child(2) li {
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    margin: 0 auto;
    font-size: 15px;
}
.main .content ul:nth-child(2) li i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    margin-top: -4px;
    background-color: #009DE0;
    vertical-align: 16px;
}
.main .content ul:nth-child(2) li a {
    display: inline-block;
    width: 600px;
    overflow: hidden;
    word-wrap:normal;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.main .content ul:nth-child(2) li time {
    float: right;
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
}
.main .content .content-pages {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.main .content .content-pages ul {
    display: inline-block;
}
.main .content .content-pages ul li {
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 2px;
    padding: 0 8px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.main .content .content-pages ul li a {
    color: #61bde4;
}
.main .content .content-pages ul li:hover {
    background-color: #009DE0;
}
.main .content .content-pages ul li:hover a {
    color: #fff;
}

/*留言板样式*/
.content .interflow {
    padding: 10px 5px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    border-bottom: 1px dashed #ccc;
}
.content .interflow .ask {
    font-weight: bold;
}
.content .interflow .ask span:first-child {
    display: inline-block;
    width: 23px;
    height: 27px;
    background: url("../images/hudongpingtai/kejigongzuozhezhijia/ask.png");
}
.content .interflow .answer span:first-child {
    display: inline-block;
    width: 23px;
    height: 27px;
    background: url("../images/hudongpingtai/kejigongzuozhezhijia/answer.png");
}
.content .interflow .ask span:last-child,
.content .interflow .answer span:last-child {
    color: #0064ff;
    font-weight: bold;
}
.content .board {
    font-size: 15px;
}
.content .board > p {
    height: 43px;
    line-height: 43px;
    padding: 0 10px;
    font-size: 18px;
    color: #fff;
    background-color: #aeaeae;
}
.content .board form {
    padding: 10px 5px;
}
.content .board input {
    width: 160px;
    padding: 8px 5px;
    margin-bottom: 20px;
}
.content .board textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.content .board button {
    display: block;
    width: 138px;
    height: 42px;
    margin: 10px auto;
    border: 1px solid #003e9c;
    background: #4881d8;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
}

/*树形分支样式*/
.main .content .show {
    position: relative;
    height: 400px;
}
.content .show a {
    position: absolute;
    display: block;
    width: 248px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #87ad1e;
    border: 1px solid #9a9a9a;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=white, endcolorstr=darkgray, gradientType=0); /*IE浏览器渐变*/
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=white, endcolorstr=darkgray, gradientType=0);
    background: #a9a9a9;
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
    background: -moz-linear-gradient(#fff, #ccc);
    background: linear-gradient(#fff, #ccc);
    }
.content .show a:nth-of-type(1) {
    left: 50%;
    top: 25px;
    margin-left: -124px;
}
.content .show a:nth-of-type(2) {
    left: 10px;
    top: 200px;
}
.content .show a:nth-of-type(3) {
    right: 10px;
    top: 200px;
}
.content .show span {
    position: absolute;
    display: block;
    width: 50px;
    height: 33px;

}
.content .show span:nth-of-type(1) {
    left: 150px;
    top: 116px;
    background: url("../images/hudongpingtai/qiyexuqiu/arrowleft.png");
}
.content .show span:nth-of-type(2) {
    right: 150px;
    top: 116px;
    background: url("../images/hudongpingtai/qiyexuqiu/arrowright.png");
}