.main {
    width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
    font-family: SimSun;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.main .kinds {
    float: left;
    width: 266px;
    border: 1px solid #61bde4;
    -moz-border-radius: 10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.main .kinds .kinds-title {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: url("../images/public/kinds-title.png");
}
.main .kinds ul {
    padding: 0 20px 10px 20px;

}
.main .kinds ul li {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #b0c7d7;
}
.main .content {
    float: right;
    width: 725px;
    border: 1px solid #61bde4;
    box-sizing: border-box;
    -moz-border-radius: 10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.main .content .content-title {
    height: 40px;
    line-height: 36px;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 14px;
}
.main .content .content-title p{
    font-size: 16px;
}
.main .content .content-title span {
    margin-left: 10px;
}
.main .content ul:nth-child(2) {
    padding: 10px 0;
}
.main .content ul:nth-child(2) li {
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    margin: 0 auto;
    font-size: 15px;
}
.main .content ul:nth-child(2) li i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    margin-top: -4px;
    background-color: #009DE0;
    vertical-align: 16px;
}
.main .content ul:nth-child(2) li a {
    display: inline-block;
    width: 600px;
    overflow: hidden;
    word-wrap:normal;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.main .content ul:nth-child(2) li time {
    float: right;
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
}
.main .content .content-pages {
    position: relative;
    width: 100%;
    padding: 20px 0;
    bottom: 10px;
    left: 0;
}
.main .content .content-pages > span {
    position: absolute;
    height: 16px;
    line-height: 16px;
    padding: 3px 10px;
    left: 197px;
    top: 20px;
    border: 1px solid #ccc;
}
.main .content .content-pages > span a {
    color: #009DE0;
}
.main .content .content-pages > span:hover {
    background-color: #009DE0;
}
.main .content .content-pages > span:hover a {
    color: #fff;
}
.main .content .content-pages > span:last-child {
    left: 447px;
}
.main .content .content-pages ul {
    width: 182px;
    margin: 0 auto;
    overflow: hidden;
}
.main .content .content-pages ul li {
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 2px;
    padding: 0 8px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.main .content .content-pages ul li a {
    color: #61bde4;
}
.main .content .content-pages ul li:hover {
    background-color: #009DE0;
}
.main .content .content-pages ul li:hover a {
    color: #fff;
}