body {
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased; /*chrome、safari*/
    -moz-osx-font-smoothing: grayscale;/*firefox*/
    background-color: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1.428571429;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    overflow-x: hidden;
}
a {
    color: #000;
}
a:hover {
    text-decoration: underline;
}
.header {
    width: 1343px;
    height: 338px;
    background: url("../images/zhuantituijian/shijiuda/index/header-bg.png") no-repeat center;
    background-size: cover;
}
.header .backend-system {
    width: 100%;
    height: 32px;
    padding: 0 20px;
    line-height: 30px;
    text-align: right;
    border-bottom: 1px solid #999;
    box-sizing: border-box;
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
    background: -moz-linear-gradient(#fff, #ccc);
    background: linear-gradient(#fff, #ccc);
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.main {
    width: 1115px;
    margin: 0 auto;
}
.main > .title {
    width: 100%;
    height: 95px;
}
.main > .title:first-child {
    background: url("../images/zhuantituijian/shijiuda/index/title1.png") no-repeat;
}
.main > .title:nth-of-type(3) {
    background: url("../images/zhuantituijian/shijiuda/index/title2.png") no-repeat;
}
.main > .title:nth-of-type(5) {
    background: url("../images/zhuantituijian/shijiuda/index/title3.png") no-repeat;
}
.container {
    width: 970px;
    margin: 30px auto;
}
#outer {
    position: relative;
    width: 485px;
    height: 368px;
}

#wrap img {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 485px;
    height: 368px;
}
#wrap img:nth-child(1) {
    display: block;
}
#focus {
    width: 80px;
    position: absolute;
    bottom: 12px;
    right: 0;
    margin: auto;
    overflow: hidden;
    padding: 5px 0 5px 5px;
    z-index: 20;
}
#focus li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin-right: 8px;
    cursor: pointer;
}
#focus li.selected {
    background: #d92526;
}
.container .content {
    width: 463px;
    height: 368px;
    overflow: hidden;
}
.container .content-title {
    line-height: 27px;
    border-bottom: 1px solid #d92526;
}
.container .content-title span {
    display: inline-block;
    height: 29px;
    padding: 0 20px;
    line-height: 29px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    background-color: #d92526;
}
.content > ul {
    padding-top: 8px;
}
.content > ul li {
    position: relative;
    padding-left: 29px;
    font-size: 16px;
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content > ul li::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d92526;
}
.content > ul li:nth-of-type(1) a,.content > ul li:nth-of-type(2) a {
    color: #d92526;
    font-weight: bold;
}
.container .content_2, .container .content_3{
    width: 970px;
}
.container .content_2 {
    height: 222px;
    overflow: hidden;
}
.container .content_2 > ul {
    width: 48%;
}
.container .content_2 > ul li a {
    font-weight: normal;
    color: #000;
}
.container .content_3 ul {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 45px;
    background: url("../images/zhuantituijian/shijiuda/index/time.png");
    box-sizing: border-box;
}
.container .content_3 ul li {
    float: left;
    height: 58px;
    width: 12.5%;
}
.container .content_3 ul li span {
    display: block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background-color: #d92526;
    border-radius: 50%;
}
.container .content_3 ul li span.active {
    height: 58px;
    line-height: 58px;
    width: 58px;
}
.container .content_3 ul ~ div {
    position: relative;
    display: none;
    width: 100%;
    height: 290px;
    border: 3px solid #dc5f58;
    border-radius: 5px;
    background: url("../images/zhuantituijian/shijiuda/index/content3-bg.png") no-repeat center;
    background-size: cover;
    box-sizing: border-box;
}
.container .content_3 .arrow {
    width:0;
    height:0;
    border-width:20px;
    border-color: transparent transparent #dc5f58 transparent;
    border-style:solid;
}
.container .content_3 ul ~ div img {
    float: left;
    display: block;
    width: 440px;
    height: 250px;
    margin: 20px 10px;
}
.container .content_3 ul ~ div img ~ div {
    float: right;
    width: 50%;
    height: 284px;
    padding-right: 10px;
    text-align: right;
    overflow: hidden;
}
.container .content_3 ul ~ div h3 {
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    text-overflow:clip;
    white-space: nowrap;
}
.container .content_3 ul ~ div p {
    font-size: 15px;
    line-height: 2;
    text-align: left;
    text-indent: 2em;
    color: #414141;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
.container .content_3 ul ~ div a {
    font-size: 16px;
}
.container .content_3 ul ~ div.active2 {
    display: block;

}
.footer {
    width: 100%;
    height: 120px;
    padding-top: 20px;
    background-color: #ca232b;
}
.footer > div {
    width: 970px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.footer > div p {
    margin: 15px auto;
    font-size: 14px;
    color: #fff;
}
/*兼容 1024px 设备以下分辨率*/
@media all and (max-width:1024px){

    .header {
        width: 1007px;
    }
    .main {
        width: 1007px;
    }
}