body {
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased; /*chromeã€safari*/
    -moz-osx-font-smoothing: grayscale;/*firefox*/
    background-color: #F1F1F1;
    -webkit-user-select: none;
}
a {
    color: #000;
}
a:hover {
    color: #d73a3a;
}
figure {
    margin: 0;
    padding: 0;
}
.main {
    width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.main .kinds {
    float: left;
    width: 266px;
    border: 1px solid #61bde4;
    -moz-border-radius: 10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.main .kinds .kinds-title {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: url("../../images/kinds-title.png");
}
.main .kinds ul {
    padding: 0 20px 10px 20px;

}
.main .kinds ul li {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-family: SimSun;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #b0c7d7;
}
.main .content {
    float: right;
    width: 725px;
    border: 1px solid #61bde4;
    box-sizing: border-box;
    -moz-border-radius: 10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.main .content .content-title {
    height: 40px;
    line-height: 36px;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 14px;
    background: url("../../images/content-title.png");
}
.main .content .content-title p{
    font-family: SimSun;
    font-size: 16px;
}
.main .content .content-title span {
    margin-left: 10px;
}
.main .content .branch {
    width: 680px;
    margin: 10px auto;
}
.main .content .branch-title {
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    font-size: 18px;
    color: #fff;
    background: url("../../images/branch-bg.png");

}
.main .content .branch > p{
    padding: 0 10px;
    font-family: SimSun;
    font-size: 16px;
    line-height: 32px;
}