body {
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased; /*chrome、safari*/
    -moz-osx-font-smoothing: grayscale;/*firefox*/
    background-color: #F1F1F1;
    -webkit-user-select: none;
}
.header {
    width: 100%;
}
.header img {
    width: 100%;
    height: 200px;
}